@blue: #0064CD;

DIV.comment {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 10px;

    .reply { background-color: #F5F5F5; }
    .comment-content { margin-bottom: 20px; }
}

UL.nav {
    A.highlight {
        color: lighten(@blue, 40%);
        font-weight: bold;
    }
}