@blue: #0064CD;
@light-grey: #eee;

div.comment {
	min-height: 15px;
	padding: 10px 0;
	border-bottom: 1px solid @light-grey;

	.author { margin-top: 0; }
	.comment {
		border-left: 1px solid rgba(0, 0, 0, 0.05);
		padding-left: 15px;
		background-color: #F5F5F5;
		border-bottom: none;
	}
}

li.subcategory {
	margin-left: 20px;
	border-left: 1px solid @light-grey;

	A {
		margin-left: -12px;
	}
}

form.question-form {

	margin-top: 15px;
}

ul.nav {
	A.highlight {
		color: lighten(@blue, 40%);
		font-weight: bold;
	}
}

tr button {
	display: none !important;
}

tr:hover button {
	display: inline !important;
}

.buttons {
	width: 100px;
}

table#userList tr {
	height: 40px;
}

.posting.closed {
	color: #bbb;
}

footer {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #4D4D4D;
	color: white;
	font-size: 11px;

	span.separator {
		padding-left: .5em;
		padding-right: .5em;
	}
}