//// Body
$body-bg: #f5f8fa;
//
//// Borders
//$laravel-border-color: darken($body-bg, 10%);
//$list-group-border: $laravel-border-color;
//$navbar-default-border: $laravel-border-color;
//$panel-default-border: $laravel-border-color;
//$panel-inner-border: $laravel-border-color;
//

$theme-colors: (
        "primary": #69abd1,
        "secondary": #a7c2d1,
        "success": #2ab27b,
        "info": #8eb4cb,
        "warning": #cbb956,
        "danger": #bf5329,
        "light": darken($body-bg, 5%),
        "dark": darken($body-bg, 50%)
);

//// Typography
$font-family-sans-serif: scandia-web, sans-serif, system-ui;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

//// Inputs
//$input-border: lighten($text-color, 40%);
//$input-border-focus: lighten($brand-primary, 25%);
//$input-color-placeholder: lighten($text-color, 30%);
//
//// Cards
//$panel-default-heading-bg: #fff;
//$card-bg: $white;