// Body
$body-bg: #f5f8fa;

$theme-colors: (
        "primary": #69abd1,
        "secondary": #a7c2d1,
        "success": #2ab27b,
        "info": #8eb4cb,
        "warning": #cbb956,
        "danger": #bf5329,
        "light": darken($body-bg, 5%),
        "dark": darken($body-bg, 50%)
);

// Typography
$font-family-sans-serif: scandia-web, sans-serif, system-ui;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;
